<div class="hero">
  <img src="images/oblivionWP.jpeg" alt="background" class="bg-image" />
  <div class="glass">
    <h1 class="title">
      Bem-vindo

      <p>main-page works!</p>
      <p-button
        label="Clique aqui"
        icon="pi pi-check"
        class="p-button-success"
      ></p-button>
      <div class="p-field">
        <label for="nome">Nome:</label>
        <input id="nome" type="text" pInputText placeholder="Digite seu nome" />
      </div>
      <i class="pi pi-check" style="font-size: 2.5rem"></i>
      <i class="pi pi-times"></i>
      <span class="pi pi-search"></span>
      <span class="pi pi-user"></span>
      <i class="pi pi-spin pi-spinner" style="font-size: 2rem"></i>
      <i class="pi pi-spin pi-cog" style="font-size: 2rem"></i>
    </h1>
  </div>
  <p-splitter [style]="{ height: '300px' }" class="mb-8">
    <ng-template #panel>
      <div class="flex items-center justify-center h-full">Panel 1</div>
      <img src="images/combat.jpg" />
    </ng-template>
    <ng-template #panel>
      <div class="flex items-center justify-center h-full">Panel 2</div>
    </ng-template>
  </p-splitter>
</div>
