.container {
  display: flex;
  flex-direction: column;
  label {
    margin: 10px;
  }
  input {
    margin: 10px;
  }
  footer {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
  }
}
