<div class="content">
    <div class="container">
        <div class="left">
            <app-side-bar></app-side-bar>
        </div>
        <div class="right">
            <div>
                <p-megaMenu [model]="menuItemsList" class="megaMenuStyle">
                    <ng-template pTemplate="start"> </ng-template>
                </p-megaMenu>
                <ng-container [ngSwitch]="currentView">
                    <p-table *ngSwitchCase="'clientes'" [value]="listaClientes" [tableStyle]="{ 'min-width': '50rem' }">
                        <ng-template pTemplate="header">
                            <tr>
                                <th colspan="6">Lista de clientes</th>
                            </tr>
                            <tr>
                                <th>ID</th>
                                <th>
                                    <p-checkbox [binary]="true"></p-checkbox>
                                </th>
                                <th>Nome</th>
                                <th>E-mail</th>
                                <th>CPF</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-listaClientes>
                            <tr>
                                <td>{{ listaClientes.idCliente }}</td>
                                <td>
                                    <p-checkbox></p-checkbox>
                                </td>
                                <td>{{ listaClientes.nome }}</td>
                                <td>{{ listaClientes.email }}</td>
                                <td>{{ listaClientes.cpf }}</td>
                            </tr>
                        </ng-template>
                    </p-table>
                    <p-table *ngSwitchCase="'funcionarios'" [value]="listaFuncionarios" [tableStyle]="{ 'min-width': '50rem' }">
                        <ng-template pTemplate="header">
                            <tr>
                                <th colspan="7">Lista de funcionários</th>
                            </tr>
                            <tr>
                                <th>ID</th>
                                <th>
                                    <p-checkbox [binary]="true"></p-checkbox>
                                </th>
                                <th>Nome</th>
                                <th>E-mail</th>
                                <th>Cargo</th>
                                <th>Unidade</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-listaFuncionarios>
                            <tr>
                                <td>{{ listaFuncionarios.idFuncionario }}</td>
                                <td>
                                    <p-checkbox></p-checkbox>
                                </td>
                                <td>{{ listaFuncionarios.nome }}</td>
                                <td>{{ listaFuncionarios.email }}</td>
                                <td>{{ listaFuncionarios.cargo }}</td>
                                <td>{{ listaFuncionarios.unidade }}</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </ng-container>
            </div>
        </div>
    </div>
</div>