<p-toast></p-toast>
<div class="auth">
  <div class="card">
    <h1>Fazer Login no Sistema</h1>
    <form [formGroup]="loginForm">
      <div class="field">
        <label for="email">Email</label>
        <span class="p-input-left w-full">
          <i class="pi pi-envelope"></i>
          <input
            pInputText
            id="email"
            type="email"
            placeholder="Insira seu email"
          />
        </span>
      </div>
    </form>
  </div>
  <input type="text" placeholder="Insira o email" pInputText />

  <label>Senha</label>
  <input type="text" placeholder="Insira a senha" />
  <button pButton label="Fazer Login"></button>
</div>
