.hero {
  background-image: url("/images/forestWP.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 0;
  .content {
    width: 100%;
    height: 100vh;
    .box {
      border: 10px solid white;
      border-radius: 3rem;
      width: 30rem;
      height: 50rem;
      position: relative;
      .loginInfo {
        align-items: center;
        text-align: center;
      }
    }
  }
}
